$bg-color-small-section: #323844;
$bg-principal-section: #252a33;
$words: #7d7b8d;
$background-social: #797979;
$divider-color: #0088cc;
$li-date-color: #eb4b54;
$btn-color: #ea4857;
$card-title: #fd4958;