section {
    text-align: center;
}

h1,
h2 {
    color: white;
    font-weight: 700;
}

p {
    color: #7d7b8d;
    font-size: 0.80rem;
}

a {
    text-decoration: none;
}

.divider {
    height: 100px;
    display: flex;
    align-items: center;

}